  .label {
        width:20%;
        padding:4px;
    }
 
    .value {
        width:80%;
        padding:4px;
    }
 
    .grid {
        width:100%;
    }
 
    .error {
        color: red;
    }
 
    .outputLabel {
        font-weight: bold;
    }
 
    .grid {
        width:33%;
        padding:4px;
    }

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title.ui-state-highlight {
    border: 1px solid #ffd27f;
    background-color: #ffd27f;
    color: #ffffff;
}
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    border: 1px solid #c8c8c8;
    background-color: #f4f4f4;
    color: #333333;
    padding: 0.571em 1em 0.571em 1em;
    margin: 0;
    border-right: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-wizard-step-title {
    font-size: 18px;
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body .ui-helper-reset {
    line-height: normal;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    overflow-x: hidden;
}
:root {
    --input-border-color: #ffd27f;
    --input-hover-border-color: #ffd27f;
    --input-focus-border-color: #ffd27f;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #c8c8c8;
}
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    border: 1px solid #c8c8c8;
    background-color: #f4f4f4;
    color: #333333;
    padding: 0.571em 1em 0.571em 1em;
    margin: 0;
    border-right: 0 none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
body .ui-corner-all {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.ui-wizard-step-title {
    font-size: 18px;
    margin: 0 3px 0 0;
    padding: 0.4em;
    float: left;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
body .ui-helper-reset {
    line-height: normal;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
body .ui-widget:not(.pi), body .ui-widget .ui-widget:not(.pi) {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    overflow-x: hidden;
}
:root {
    --input-border-color: #ffd27f;
    --input-hover-border-color: #212121;
    --input-focus-border-color: #ffd27f;
}
user agent stylesheet
html {
    color: -internal-root-color;
